body {
background-color: darkgreen;
}

h1 {

position: absolute;
color: black;
left: 10%;
top: 35%;
margin: 0 auto;
font-size: 350%;

}

h2 {

}

#box {

position: absolute;
top: 2%;
left: 35%;


}

#betTable {

border-radius: 25%;
background-color: #A5435C;
height: 850px;
width: 500px;

}

#dealerSide {

position: absolute;
left: 21%;
top: 0px;

}

#playerSide {

position: absolute;
left: 30%;
top: 25%;

}

table {

    border-spacing: 5px 10px;
float: left;

}

tr{

width:500px;
border: none;

}

td{

width:  55px;
height: 90px;
text-align:center;

}

.title{
font-weight: bold;
}

.cardLocation{

font-size: 70%;
border: none;
height: 55px;
width: 40px;
background-color:#F0F0F0;

}

button {

height: 25px;
width: 100px;

}

#buttons {

position: absolute;
height: 300px;
width: 200px;
left: 67%;
top: 40%;

}

#moveButton {

margin-top: 20px;

}

#newGameButton {
margin-top: 52px;
margin-bottom: 30px;
width: 100px;

}

input {

width: 50px;

}

#version {
position: absolute;
margin-top: 400px;
}