body {
background-color: darkgreen;
}

h1 {

position: absolute;
color: black;
left: 10%;
top: 35%;
margin: 0 auto;
font-size: 350%;

}

h2 {

}

#box {

position: absolute;
top: 2%;
left: 35%;


}

#betTable {

border-radius: 25%;
background-color: #A5435C;
height: 850px;
width: 500px;

}

#dealer {

position: absolute;
left: 42%;
top: 0%;

}

#dealerSide {

position: absolute;
left: 12.5%;
top: 5%;

}

#player {

position: absolute;
left: 42%;
top: 92%;

}

#playerSide {

position: absolute;
left: 28%;
top: 20%;

}

table {

    border-spacing: 5px 10px;
    float: left;

}

tr{

width:500px;
border: none;

}

.cardlocation td{

height: 65px;
width:  50px !important;
text-align:center;

}

.title{
font-weight: bold;
}

.cardLocation{

font-size: 60%;
border: solid black 1px;
height: 65px;
width:50px !important;
background-color:#F0F0F0;

}

button {

height: 25px;
width: 100px;

}

#buttons {

position: absolute;
height: 300px;
width: 200px;
left: 67%;
top: 40%;

}

#moveButton {

margin-top: 20px;

}

#newGameButton {
margin-top: 52px;
margin-bottom: 30px;
width: 100px;

}

input {

width: 50px;

}

#version {
position: absolute;
margin-top: 400px;
}